html,body{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #000;
}

/* .main-order-confirmed(名字同main-cart檔案---------------- */

.main-cart {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(229, 223, 48), rgba(74, 229, 48));
}
#order-number{
    color: #FBC528;
    text-decoration:underline;
}
.main-cart .container {
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: auto;
    padding: 80px;
    background-color: #000;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
}

/* ordernumber--------------------------- */

.main-cart .ordernumber{
    display: flex;
    flex-flow: column;
    align-items: center;

    font-size: 48px;
}
.main-cart .ordernumber h2{
    display: block;
    padding: 40px 0;
    color: #ffffff;
}
.main-cart .ordernumber .order-detail{
    font-size: 36px;
}

.main-cart .cart-list {
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.main-cart .cart-list table {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    width: 100%;
    background-color: #FBC528;
}

.main-cart .cart-list th {
    background-color: #191A24;
    color: #ffffff;
    width: 25vw;
    height: 60px;
    vertical-align: middle;
}

.main-cart .cart-list td {
    height:100%;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0;
    padding-left: 8px;
}

.main-cart .cart-list tr {
    /* border-bottom: 1px solid #dddddd; */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.main-cart .cart-list img {
    width: 100%;
    aspect-ratio: 125 / 100;
}

.main-cart .pay-info {
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 80px;
}

.main-cart .pay-info table {
    padding: 16px;
    width: 30vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    background-color: #191A24;
}

.main-cart .pay-info th {
    background-color: #FBC528;
    color: #000;
    vertical-align: middle;
}

.main-cart .pay-info td {
    line-height: 200%;
    text-align: center;
}

.main-cart .pay-info .total {
    font-size: 32px;
}
.main-cart .sent button{
    display: inline-block;
    -webkit-clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    background-color: #FBC528;
    border: none;
    padding: 16px 84px;
    cursor: pointer;

    font-size: 24px;
}

@media (max-width:960px) {
    .main-cart .container {
        padding: 40px;
    }

    .main-cart .cart-list table {
        font-size: 20px;
    }

    .main-cart .pay-info {
        color: #ffffff;
        margin: 40px 0;
    }

    .main-cart .pay-info .total {
        font-size: 28px;
    }
}

@media (max-width:768px) {
    .main-cart .container {
        padding: 16px 8px;
    }
    .main-cart .ordernumber h2{
        font-size: 28px;
    }
    .main-cart .ordernumber .order-detail{
        font-size: 24px;
    }

    .main-cart .cart-list table {
        font-size: 16px;
    }

    .main-cart .cart-list th {
        width: 5%;
        line-height: 200%;
    }

    .main-cart .cart-list .single-price {
        width: 1%;
    }

    .main-cart .cart-list .delete {
        width: 0.1%;
    }

    .main-cart .cart-list .total {
        width: 2%;
    }
    .main-cart .cart-list .cart-table {
        .btnMinus {
            width: 25px;
            height: 25px;
            font-size: 16px;
    
        }
        .btnPlus {
            width: 25px;
            height: 25px;
            font-size: 16px;
        }
        .qty{
            text-align: center;
            font-size: 16px;
            width: 15px;
        }
    }
    .main-cart .cart-list .fa-solid {
        margin: 0 4px;
        padding: 2px 2px;
        border: 1px solid #000000;
    }

    .main-cart .cart-list .fa-xmark {
        padding: 5px 7px;
        text-align: center;
        border: 2px solid red;
        background-color: red;
        border-radius: 50%;
        scale: .8;
    }

    .main-cart .cart-list .cart-table td {
        padding-left: 4px;
        text-align: center;
        vertical-align: middle;
    }

    .main-cart .pay-info table {
        padding: 16px;
        width: 100%;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 16px;
        background-color: #191A24;
    }

    .main-cart .pay-info th {
        padding: 0px 8px;
        width: 100%;
        font-size: 24px;
    }

    .main-cart .sent button {
        padding: 8px 20px;
        font-size: 20px;
        color: #000;
    }

    .main-cart .pay-info .total {
        font-size: 24px;
    }
}
